body {
  margin: 0;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* 
* {
  box-sizing: border-box;
} */
/* .menu-bar {
  display: flex;
  justify-content: center;
  background-color: #333;
  margin: auto;
  width: 100%;
}

.menu-bar button {
  background-color: Transparent;
  color: #f2f2f2;
  border: 0;
  padding: 14px 16px;
  font-size: 17px;
}

.menu-bar button:hover {
  background-color: #111;
}

.menu-bar button.generate {
  background-color: #4caf50;
  color: white;
}

button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
} */

/** Header Style */
#navbar {
  background: #34495e;
  color: #fff;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  height: 65px;
}

#navbar .main-menu > li {
  display: inline-block;
  position: relative;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 32px;
}

.logo h1 {
  display: inline;
  font-family: 'Chelsea Market', cursive;
  font-weight: 500;
}

ul {
  list-style-type: none;
}

.main-menu li button {
  display: block;
  color: #fff;
  padding: 10px 15px;
  margin: 0px 5px;
  text-align: center;
  background: #34495e;
  border: 0px #34495e;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.main-menu li button:hover {
  color: #41dabb;
}

.main-menu li button:disabled {
  color: gray;
}

.main-menu li button:focus {
  outline: none;
}

.main-menu .mainbtn {
  background-color: #1abc9c;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
}

.main-menu .mainbtn:hover {
  background-color: #4ac2aa;
  color: #fff;
}

.main-menu .mainbtn:disabled {
  color: grey;
}

/* .dropdown-content {
  display: none;
  position: absolute;
  background: #34495e;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
  z-index: 2;
  width: 200px;
}

.dropdown-content li button {
  display: block;
  padding: 8px 14px;
  font-size: 15px;
  font-weight: normal;
  border-radius: 5px;
}

.dropdown-content li button:hover {
  background: #1abc9c;
  color: #fff;
}

.show {
  display: block;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 5px dashed;
  border-top: 5px solid\9;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
} */
