body {
  margin: 0;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/** Header Style */
#navbar {
  background: #34495e;
  color: #fff;
}

#navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: auto;
  height: 65px;
}

#navbar .main-menu > li {
  display: inline-block;
  position: relative;
}

.range-container {
  width: 250px;
}

.range-input {
  width: 100%;
  cursor: pointer;
}

.range-tag {
  color: #fff;
  margin-bottom: 3px;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
}

ul {
  list-style-type: none;
}

.main-menu li button {
  display: block;
  color: #fff;
  padding: 10px 10px;
  margin: 0px 2px;
  text-align: center;
  background: #34495e;
  border: 0px #34495e;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  transition: 0.3s;
}

.main-menu li button:hover {
  color: #41dabb;
}

.main-menu li button:disabled {
  color: gray;
}

.main-menu li button:focus {
  outline: none;
}

.main-menu .mainbtn {
  background-color: #1abc9c;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
}

.main-menu .mainbtn:hover {
  background-color: #4ac2aa;
  color: #fff;
}

.main-menu .mainbtn:disabled {
  color: grey;
}

/** Board Style */
#board .container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 620px;
  width: 1050px;
  margin: auto;
}
